{% extends 'globals/base.html' %}
{% load static %}


{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="ui raised stackable doubling centered card right floated"
         style="margin: auto;
                margin-top: 7.5%;
                min-width: 360px;">

        <div class="content">
            <img class="ui circular centered small image"
                 src="{% static 'img/zlatan.jpg' %}"
                 style="margin-top: -27.5%;
                        margin-left: 27.5%;"
                 alt="User Image" >

            <div class="ui huge centered header">
                Employee Login
            </div>

        </div>

        <div class="content">
            <form method="post"
                  class="ui form"
                  style="margin-top: 7.5%;
                                    margin-bottom: 3.5%;">
                {% csrf_token %}

                <div class="field">
                    <label>Email ID</label>
                    <div class="ui input">
                        <input placeholder="e-mail">
                    </div>
                </div>

                <div class="field">
                    <label>Password</label>
                    <div class="ui input">
                        <input placeholder="Password" type="password">
                    </div>
                </div>

                <div class="field"
                     style="margin-top: 7.5%;
                                 margin-bottom: 7.5%;">
                    <div class="ui divider"></div>
                </div>

                <div class="field">
                    <a class="ui fluid large primary button"
                            href="{% url 'globals:dashboard' %}">
                        &ensp;
                        Login
                    </a>
                </div>
            </form>
        </div>

        <div class="extra content">
            {% comment %}
                TODO: Whatever!
            {% endcomment %}
            <a href="" class="ui inverted text">
                <div class="" style="text-align: center;">
                    Forgot Password?
                </div>
            </a>
        </div>

    </div>
{% endblock %}