{% load static %}

{% block usercard %}

    {% comment %}
        TODO: Something!
    {% endcomment %}
    {% comment %}The Employee Image Card starts here!{% endcomment %}
    <div class="ui large fluid raised card"
         style="max-width: 320px;">

        <div class="image">
            <img src="{% static 'img/zlatan.jpg' %}">
        </div>

        <div class="content">
            {% comment %}
                TODO: Add a If-Else here!
            {% endcomment %}
            <div class="ui header" href="">
                Zlatan Ibrahimovic
                <span class="right floated meta">
                    CEO
                </span>
            </div>
        </div>
    </div>
    {% comment %}The Employee Image Card ends here!{% endcomment %}


{% endblock %}