{% load static %}
<div class="ui pointing secondary menu">
    <a class="active item" data-tab="tab2content1">
        All Notifications
    </a>
</div>

<div class="ui active tab" data-tab="tab2content1">
    <div class="ui vertical segment">
        <div class="ui selection tiny divided list" style="max-height: 70vh; overflow-y: scroll; margin: auto; width: 36vw;">
            {% for notification in allNotifications %}
                <a class="item" id="notification_{{ notification.id }}">
                    <div class="ui top aligned divided list">
                        <div class="item">
                            <img class="ui circular image" style="height: 56px; width: 56px;" src="{% static 'img/zlatan.jpg' %}" />

                            <div class="content" style="color: #000;">
                                <div class="ui header">
                                    {{ notification.driverName }}
                                    <br>
                                    {{ notification.truckNumber }}
                                </div>

                                <div class="meta">
                                    {% comment %}TODO{% endcomment %}
                                    {{ notification.certificateType }} Certificate expires in {{ notification.daysLeft }} days!
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            {% endfor %}
        </div>
    <br>
    <div class="ui divider"></div>
    </div>
</div>

